* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  min-height: 5000px;
  background-image: linear-gradient(to top, black, white);
}

.sticky, .placeholder {
  width: 100%;
  height: 200px;
}

.sticky {
  background: green;
  margin-top: 1px;
}

.placeholder {
  background: brown;
}

.action {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 1.5em;
}

@media (orientation: portrait) {
  .page_pinned .sticky {
    position: fixed;
  }
}

@media (orientation: landscape) {
  .page_pinned .sticky {
    position: absolute;
  }
}
